*{
    margin: 0;
    padding: 0;
}


body{
    background-color:#ebb5b3; 
    /* background-image: url("bg.webp"); */
    background-size: cover;
    text-align: center;
}

h1{
    /* color: #9c0101; */
    color: #90222b;
    font-size: 65px;
    font-family: cursive;
    margin-bottom: 25px;
    
}

.container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 6.5px solid #b46574;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.3) ;
    font-size: 8vmin;
    /* color:#640505; */
    color: #782b42;
    background-color: whitesmoke;
    font-family: cursive;

}


#reset-btn{
    padding: 1rem;
    font-size: 1.25rem ;
    background-color:#f8e6d2;
    color: #90222b;
    font-family: 'Times New Roman';
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem ;
    background-color:#f8e6d2;
    color: #90222b;
    font-family: 'Times New Roman';
    border-radius: 1rem;
    border: none;
    margin-top: 25px;
}

#msg{
/* color: #001F54; */
color: 	#90222b;
font-size: 50px;
font-weight: 700;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
 flex-direction: column;
 gap: 4rem;
}

.hide{
    display: none;
}
